* {
    margin: 0;
    padding: 0;

    border-style: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: purple;
}

.todas-informacoes {
    display: flex;
    flex-direction: column;

    padding: 30px 25px 30px 25px;

    color: white;
    background-color: white;

}

#text-topo {
    margin: 35px 0 20px 0;

    color: white;

    font-size: 35px;
    font-family: sans-serif;
}

input[type='text'],
[type='email'],
[type='number'],
[type='password'],
select {
    border: 1px solid gray;

    margin-bottom: 15px;
    padding-left: 10px;

    width: 450px;
    height: 45px;
}

label {
    display: flex;
    align-items: flex-start;
    justify-content: left;

    margin-bottom: 8px;

    color: black;
}

button {
    width: 460px;
    height: 45px;


    color: white;
    background-color: green;

    border: none;
}

.periods,
.checkbox {
    display: flex;
    flex-direction: row;

}

.periods label,
.checkbox label {
    padding-left: 8px;
}

select {
    background-color: lightgray;
}